

/***** banner ********/

.banner-content {
	@include space(0,0);
	@extend %center;
	img {
		width: 100%;
		height: auto;
		@include tablet {
			width: 50%;
			float: right;
			margin-left: 1em;
		}
	}
	@include desktop {
		margin-top: 55px;
	}
}
@include desktop {
	.banner p:last-child {
		margin-top:10px;
	}
	
	.banner p, .contact p {
		font-size: $fs-med;
		@include space(100px auto 0,0 1.2em 1.2em);
	}
}

/***************************/