/***** FONTS ********/

	.name,
	.footer-name {font-family: $curly;}
		.page-title {font-family: $pass;}
	p,
	.button,
	.nav-style li {font-family: $fira;}
	.portfolio-titles {font-family: $pass;}

/***************************/
