//colors

$night: #101010;
$black: #212121;
$aqua: #77dddd;
$darkAqua: #339999;
$gray: #bbb;
$lightGray: #aaa;
$darkGray: #9b9b9b;
$shadowGray: #777;
$purple: #404472;
$red: #dd0000;
$yellow: #ecde00;
$offWhite: #f2f2f2;

$opac-black: rgba(0,0,0,0.8);

$white2gray: linear-gradient(#fff,#eee);

//font
$fira: 'Fira Sans';
$pass: 'Passion One';
$curly: 'Pacifico';
$fs-mobile: .65em;
$fs-small: 1.1em;
$fs-med: 1.6em;
$fs-large: 3em;

$normal: 1em;
$shmedium: 1.05em;
$medium: 1.3em;

$auto: 0 auto;

